@media all and (max-width: 1024px) {


.typelab-top-wrapper{
  height: 600px;
}

}

@media (max-width:720px) {

.typelab-top-wrapper{
  height: 300px;
}
.typelab-top-text h2{
  font-size:1.2em;
}
.typelab-top-text p{
  font-size:0.8em;
}
}
